In [3]:
import os
import numpy as np
import pandas as pd
import msc_project.utils.data_utils as du

In [4]:
DIR='/scratch/msc24h18/msc_project/results/symmetry_points_alt/'
MERGE_WITH = '/scratch/msc24h18/msc_project/results/test56/test56.csv'

In [5]:
png_files = du.get_files(DIR, 'png')
sp_data = {'device_id':[], 'test_date':[], 'test_time':[], 'symmetry_point':[]}
for f in png_files:
    title= os.path.basename(os.path.dirname(f))
    device_id = title.split('_')[2].split('(')[0]
    dt = title.split('_')[2].split(']')[-1]
    date = dt[:8]
    time = dt[8:]
    symmetry_point = float(os.path.basename(f).split('_')[-1][:-4])

    date = date[-2:] + '.' + date[4:6] + '.' + date[:4]
    time = time[:2] + ':' + time[2:4] + ':' + time[4:]

    if time == "11:05:16":
        time = "11:05:17"

    sp_data['device_id'].append(device_id)
    sp_data['test_date'].append(date)
    sp_data['test_time'].append(time)
    sp_data['symmetry_point'].append(symmetry_point)
    print(device_id, date, time, symmetry_point)

ID180XR1000Star 19.09.2024 16:28:56 0.64
ID294YR 19.09.2024 11:05:17 0.03
ID294YR 19.09.2024 11:21:56 1.0
ID294YR 19.09.2024 11:13:50 0.95
ID300XR1000Oct 19.09.2024 13:12:58 0.45
ID300ZR1000Oct 19.09.2024 11:43:27 0.58
ID301XR1000Oct 19.09.2024 14:20:07 0.53
ID301XR1000Oct 19.09.2024 14:34:40 0.32
ID301XR1000Oct 19.09.2024 14:41:43 0.3
ID301XR1000Oct 19.09.2024 14:49:16 0.25
ID301XR1000Oct 19.09.2024 14:57:10 -0.17
ID301XR1000Oct 19.09.2024 15:05:10 0.05
ID301XR1000Oct 19.09.2024 15:15:59 0.1
ID301XR1000Oct 19.09.2024 15:26:38 0.11
ID301XR1000Oct 19.09.2024 15:35:56 0.46
ID301XR1000Oct 19.09.2024 15:44:58 0.2
ID301XR1000Oct 19.09.2024 15:55:19 0.7
ID301XR1000Oct 19.09.2024 16:05:42 0.79
ID305ZR500Oct 19.09.2024 12:16:08 0.55
ID36ZR1000Circ 19.09.2024 16:37:37 0.53
ID161ZR15000 24.10.2024 10:49:37 0.72
ID161ZR15000 24.10.2024 11:04:02 0.36
ID161ZR15000 24.10.2024 11:11:32 0.56
ID161ZR15000 24.10.2024 11:19:00 0.44
ID161ZR15000 24.10.2024 11:26:07 0.17
ID161ZR15000 24.10.2024 11:32:36 0.15
ID161ZR15000 24.10.2024 11:38:44 0.22
ID166ZR10000 24.10.2024 14:15:34 0.63
ID166ZR10000 24.10.2024 14:23:29 0.53
ID170ZR5000 24.10.2024 13:22:32 0.6
ID170ZR5000 24.10.2024 13:30:47 0.51
ID170ZR5000 24.10.2024 13:38:58 0.35
ID170ZR5000 24.10.2024 13:46:45 0.16
ID170ZR5000 24.10.2024 13:53:35 0.4
ID170ZR5000 24.10.2024 14:00:02 0.15
ID180ZR1000 24.10.2024 11:58:00 0.5
ID181ZR1000 24.10.2024 12:12:55 0.32
ID181ZR1000 24.10.2024 12:21:13 0.09
ID181ZR1000 24.10.2024 12:29:30 0.1
ID181ZR1000 24.10.2024 12:37:23 0.37
ID181ZR1000 24.10.2024 12:44:23 0.62
ID181ZR1000 24.10.2024 12:51:01 0.01
ID183ZR1000 24.10.2024 16:05:30 0.3
ID188ZR500 24.10.2024 15:07:46 0.26

In [6]:
sp_data = pd.DataFrame(sp_data)
sp_data.to_csv(DIR+'/symmetry_points.csv', index=False)
data = pd.read_csv(MERGE_WITH)

In [7]:
merged = pd.merge(data, sp_data, on=['device_id', 'test_date', 'test_time'], how='left')
merged.head()

,device_name,device_id,test_date,test_time,groundWGFMU,pulseWGFMU,startVolage1,endVoltage1,startVolage2,endVoltage2,...,write_noise_std,epochs,test_acc,val_acc,val_loss,train_loss,pulses,pulses_pos,pulses_neg,symmetry_point
0,LBE247,ID180XR1000Star,19.09.2024,16:28:56,SMU2,WGFMU1,0.0,2.5,0.0,-2.0,...,0.0,24.0,0.8673,0.858917,0.531013,0.541589,-1.0,-1.0,-1.0,0.64
1,LBE247,ID294YR,19.09.2024,11:05:17,SMU2,WGFMU1,0.0,4.0,0.0,-2.5,...,0.0,24.0,0.8447,0.831167,0.654545,0.623510,-1.0,-1.0,-1.0,0.03
2,LBE247,ID294YR,19.09.2024,11:21:56,SMU2,WGFMU1,0.0,3.0,0.0,-2.0,...,0.0,24.0,0.3432,0.337583,1.741409,1.699010,-1.0,-1.0,-1.0,1.00
3,LBE247,ID294YR,19.09.2024,11:13:50,SMU2,WGFMU1,0.0,3.0,0.0,-2.5,...,0.0,24.0,0.1030,0.104333,2.303657,2.302571,-1.0,-1.0,-1.0,0.95
4,LBE247,ID300XR1000Oct,19.09.2024,13:12:58,SMU2,WGFMU1,0.0,3.0,0.0,-2.0,...,0.0,24.0,0.7317,0.717333,0.954384,1.087932,-1.0,-1.0,-1.0,0.45

In [8]:
merged[['device_id', 'test_time', 'symmetry_point']]

          device_id test_time  symmetry_point
0   ID180XR1000Star  16:28:56            0.64
1           ID294YR  11:05:17            0.03
2           ID294YR  11:21:56            1.00
3           ID294YR  11:13:50            0.95
4    ID300XR1000Oct  13:12:58            0.45
5    ID300ZR1000Oct  11:43:27            0.58
6    ID301XR1000Oct  14:20:07            0.53
7    ID301XR1000Oct  14:34:40            0.32
8    ID301XR1000Oct  14:41:43            0.30
9    ID301XR1000Oct  14:49:16            0.25
10   ID301XR1000Oct  14:57:10           -0.17
11   ID301XR1000Oct  15:05:10            0.05
12   ID301XR1000Oct  15:15:59            0.10
13   ID301XR1000Oct  15:26:38            0.11
14   ID301XR1000Oct  15:35:56            0.46
15   ID301XR1000Oct  15:44:58            0.20
16   ID301XR1000Oct  15:55:19            0.70
17   ID301XR1000Oct  16:05:42            0.79
18    ID305ZR500Oct  12:16:08            0.55
19   ID36ZR1000Circ  16:37:37            0.53
20     ID161ZR15000  10:49:37            0.72
21     ID161ZR15000  11:04:02            0.36
22     ID161ZR15000  11:11:32            0.56
23     ID161ZR15000  11:19:00            0.44
24     ID161ZR15000  11:26:07            0.17
25     ID161ZR15000  11:32:36            0.15
26     ID161ZR15000  11:38:44            0.22
27     ID166ZR10000  14:15:34            0.63
28     ID166ZR10000  14:23:29            0.53
29      ID170ZR5000  13:22:32            0.60
30      ID170ZR5000  13:30:47            0.51
31      ID170ZR5000  13:38:58            0.35
32      ID170ZR5000  13:46:45            0.16
33      ID170ZR5000  13:53:35            0.40
34      ID170ZR5000  14:00:02            0.15
35      ID180ZR1000  11:58:00            0.50
36      ID181ZR1000  12:12:55            0.32
37      ID181ZR1000  12:21:13            0.09
38      ID181ZR1000  12:29:30            0.10
39      ID181ZR1000  12:37:23            0.37
40      ID181ZR1000  12:44:23            0.62
41      ID181ZR1000  12:51:01            0.01
42      ID183ZR1000  16:05:30            0.30
43       ID188ZR500  15:07:46            0.26

In [9]:
merged.to_csv(MERGE_WITH, index=False)