In [2]:
import pandas as pd

In [ ]:
DATA_PATH = '/scratch/msc24h18/msc_project/results/test33/run_1.csv'


def add_columns(df, col1, col2, new_col, abssum=False):
    if abssum:
        df[new_col] = abs(df[col1]) + abs(df[col2])
    else:
        df[new_col] = df[col1] + df[col2]
    cols = df.columns.tolist()
    new_col_index = cols.index(col2) + 1
    cols.insert(new_col_index, new_col)
    cols = cols[:-1]
    df = df[cols]
    return df


def subtract_columns(df, col1, col2, new_col):
    df[new_col] = df[col1] - df[col2]
    cols = df.columns.tolist()
    new_col_index = cols.index(col2) + 1
    cols.insert(new_col_index, new_col)
    cols = cols[:-1]
    df = df[cols]
    return df


def get_min(df, col1, col2, new_col):
    df[new_col] = df[[col1, col2]].min(axis=1)
    cols = df.columns.tolist()
    new_col_index = cols.index(col2) + 1
    cols.insert(new_col_index, new_col)
    cols = cols[:-1]
    df = df[cols]
    return df


def get_max(df, col1, col2, new_col, useabs=True):
    df[new_col] = df[[col1, col2]].abs().max(axis=1)
    cols = df.columns.tolist()
    new_col_index = cols.index(col2) + 1
    cols.insert(new_col_index, new_col)
    cols = cols[:-1]
    df = df[cols]
    return df

In [4]:
df = pd.read_csv(DATA_PATH)
# df = add_columns(df, "NL_LTP", "NL_LTD", "NL_tot", abssum=True)
# df["NL_tot"] = df["NL_tot"]/2
df = get_max(df, "NL_LTP", "NL_LTD", "NL_max")

In [7]:
df[["NL_LTP", "NL_LTD", "NL_max", "NL_tot"]].head()

   NL_LTP  NL_LTD  NL_max  NL_tot
0    1.98   -3.03    3.03   2.505
1    1.26   -1.71    1.71   1.485
2    1.47   -1.55    1.55   1.510
3    2.02   -1.25    2.02   1.635
4    2.12   -1.37    2.12   1.745

In [8]:
df.to_csv(DATA_PATH, index=False)